* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.problemList{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.problemList h2{
    align-self: center;
    padding: 10px;
    margin: 20px;
    color:black ;

}

.listContainer{
    align-self: center;
    list-style-type: none;
    width: 500px;
    background-color: whitesmoke;
}

.listHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding-left: 25px;
    padding-right: 25px;
    border:black solid;
    border-width: 1px;
    padding: 8px;
}

.listProblem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border:black solid;
    border-top: none;
    border-width: 1px;        
    font-weight: 400;
}

.listProblem:hover{
    background-color: white;    
    font-weight: 600;
}